body{
    background-color: #25282C;
    margin: 0;
    color: white;
    font-family: Arial;
    font-size: smaller;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    background-color: #1A1C1F;
    position: sticky;
    top: 0;
    width: 200px;
    height: 100%;
}

li {
    display: block;
    padding: 8px 16px;
}

.flags {
  width: 10%;
  border: 1px solid #E3E0E0;
  border-radius: 2px;
}

.multiselect {
  font-family: sans-serif, Arial;
  width: 100%;
  color: black
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#button-forms {
  border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


#checkboxes {
  display: none;
  background: #fff;
  position: absolute;
  border: 1px #dadada solid;
  width: 82.5%;
  z-index: 2;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #e2c9a2;
}


/* education buttons */
.radio-toolbar-education{
    font-size: 10px;
    text-align: center;
}

.radio-toolbar-education input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
    
.radio-toolbar-education label {
    color: black;
    display: inline-block;
    background-color: #AFAFAF;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    border: 1px solid #1A1C1F;
    border-radius: 4px;
    width: 10px;
    text-align: center;
}

.radio-toolbar-education label:hover {
background-color: #e2c9a2;
}

.radio-toolbar-education input[type="radio"]:focus + label {
    border: 1px solid #e4a950;
}

.radio-toolbar-education input[type="radio"]:checked + label {
    background-color: #E0C090;
}
    


/* bottom left buttons */
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    color: black;
    display: inline-block;
    background-color: #AFAFAF;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    border: 1px solid #1A1C1F;
    border-radius: 4px;
    width: 100px;
    text-align: center;
}

.radio-toolbar label:hover {
background-color: #e2c9a2;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 1px solid #e4a950;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #E0C090;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

div.tooltipLine {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


  
