h1 { 
   font-size: 18pt;
   font-family: arial, calibri, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: black;
}

.axis text {
   font-family: arial, calibri, sans serif;
   font-size: 10pt;
}

.label {
	font-family: arial, calibri, sans serif;
	font-size: 10pt;
	text-anchor: middle;
}